.asset_image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /*opacity: .7;*/
    /*transition: opacity .25s ease-out;*/
}

.grid li {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: solid 1px #ccc;
    margin: 0 0 25px 25px;
    border-radius: 10px;
}

.modal {
    /*display: block;*/
    height:100%;
    width:100%;
}


/*modal collapse*/

.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}


/* relevant styles */
.img__wrap {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    opacity: .7;
    transition: opacity .25s ease-out;
}

.text-content{
    padding: 15px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ECEFF1;
    color: #263238;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover {
    opacity: 1;
}

.img__wrap:hover .text-content {
    visibility: visible;
    opacity: 0.8;
}

p {
    margin: 0 0 220px;
}

.price {
    background-color: #1976D2;
    color: #E3F2FD;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -20px;
    right: 10px;
}

.mainop {
    position: relative;
    z-index: 1;
}

.mainop .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/WC.jpg) center center;
    opacity: .4;
    width: 100%;
    height: 100%;
}

.toggle-show-all-button {
    background-color: red;
}

.toggle-show-all-button.active {
    background-color: darkred;
}

.sortByDropdown {
    /*width: 250px;*/
    height: 35px;
}

/*.addingitem {*/
    /*opacity: .9;*/
    /*margin-left: 50px;*/
    /*margin-right: 75px;*/
    /*border-radius: 10px;*/
    /*background-color: #b4d0ab;*/
/*}*/

/*.itemForm2 {*/
    /*padding-left: 20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
/*}*/

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url('../images/caponewc.jpg');*/
    object-fit: cover;
    background-size: 100%;
    opacity: 0.4;
    filter: blur(5px);
}